html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.grid {
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
}

.wall {
    background-color: rgb(28, 81, 161);
}

.pac-dot {
    background-color: rgb(12, 87, 12);
    border: 5px solid white;
    box-sizing: border-box;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: opacity 0.2s linear;
    opacity: 1;
}

.power-pellet {
    background-color: rgb(35, 94, 9);
    border-radius: 10px;
}

.ghost {
    background-size: cover;
    width: 20px;
    height: 20px;
}

.blinky {
    background-image: url('images/blinky.png');
    width: 12px;
    height: 12px;
}

.pinky {
    background-image: url('images/pinky.webp');
}

.inky {
    background-image: url('images/inky.webp');

}

.clyde {
    background-image: url('images/clyde.webp');
}

@keyframes eat {
    0%, 100% { 
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); 
    }
    50% { 
        clip-path: polygon(50% 0%, 100% 50%, 50% 30%, 0% 50%); 
    }
}

.pac-man {
    background-image: url('images/pacman.png');
    background-size: cover;
    width: 100px;  
    height: 100px; 
    transition: transform 0.1s ease;
}

.scared-ghost {
    background-image: url('images/scared.webp');
    background-size: cover; 
    background-position: center;
    width: 20px;
    height: 20px;
    filter: hue-rotate(480deg) saturate(300%);
}


#pause-menu, #end-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#resume-button, #restart-button, #play-again-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1a5d35;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resume-button:hover, #restart-button:hover, #play-again-button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}